# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/
general_env/

# Environment
.env
.env.*.local

# Editor
.vscode/
.idea/
.history/

# OS
.DS_Store

# Logs
*.log

# Local DB
rclp_local.db

# Docker
docker-compose.override.yml

# Misc
secrets.json
